body {
	background-color: #0E4794;
}

h1{
	width: 100%;
	margin-top: 3%;
	position: absolute;
	font-size: 7.3vw;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family:'Oswald', sans-serif;
	letter-spacing: 5px;
}

#clock {
	width: 100%;
	position: absolute;
	font-size: 8vw;
	color: white;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	margin-top: 12%;
	letter-spacing: .5px;
}

h2{
	width: 100%;
	margin-top: 5%;
	position: absolute;
	font-size: 2.4vw;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family:'Oswald', sans-serif;
	letter-spacing: 1.3px;
}

h3{
	width: 100%;
	font-size: 2vw;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family:'Oswald', sans-serif;
	letter-spacing: 5px;
}

.redirect-button {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	font-family:Arial;
	font-size:34px;
	font-weight:bold;
	margin: inherit;
    display: block;
	margin-top: 30%;
	margin-right: inherit;
	padding: 15px 100px;
	-webkit-appearance: none;
}

.redirect-button:hover {
		background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}

.pure-button {
	box-shadow:inset 0px 1px 0px 0px #bee2f9;
	background:linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
	background-color:#63b8ee;
	border-radius:6px;
	font-family:Arial;
	font-size:34px;
	font-weight:bold;
	margin: inherit;
    display: block;
	margin-top: 10%;
	margin-right: inherit;
	padding: 15px 100px;
	-webkit-appearance: none;
}

.pure-button:hover {
	background:linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
	background-color:#468ccf;
}

#demo {
	color: #E92525;
	margin-top: 1%;
	text-align: center;
	padding: 15px 32px;
	font-size: 3.1vw;
}

#demo2 {
	color: #E92525;
	margin-top: 1%;
	text-align: center;
	padding: 15px 32px;
	font-size: 3.1vw;
}

#demo3 {
	color: #FCFF00;
	margin-top: 1%;
	text-align: center;
	padding: 15px 32px;
	font-size: 3.1vw;
}

#demo4 {
	color: #2F9E00;
	margin-top: 1%;
	text-align: center;
	padding: 15px 32px;
	font-size: 3.1vw;
}

#demo5 {
	color: #2F9E00;
	margin-top: 1%;
	text-align: center;
	padding: 15px 32px;
	font-size: 3.1vw;
}


#rating1, #rating2, #rating3, #rating4, #rating5 {
	color: white;
	margin-top: -1%;
	margin-bottom: -1%;
	text-align: center;
	font-size: 2.3vw;
}

#info {
	color: white;
	margin-top: 2%;
	text-align: center;
	padding: 15px 32px;
	font-size: 2.8vw;
}

#info2 {
	color: white;
    text-align: center;
    margin-top: -50px; /* 0 instead of 30px*/
	font-size: 2.8vw;
}

#info3 {
	color: white;
    text-align: center;
    margin-top: -50px; /* 0 instead of 30px*/
	font-size: 2.4vw;
}

#when{
	width: 100%;
	margin-top: 25%;
	position: absolute;
	font-size: 2.4vw;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family:'Oswald', sans-serif;
	letter-spacing: 1.3px;
}

#calctext{
	width: 100%;
	margin-top: 25%;
	position: absolute;
	font-size: 2.4vw;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family:'Oswald', sans-serif;
	letter-spacing: 1.3px;
}

#alarm-container {
	text-align:center;
    font-family: Verdana;
    font-size: 0.6em;
    padding: 0.7em;
  	color: white;
  	margin-top: 31%;
  	height: 100px;
}

select {
	width: 50px;
	height: 20px;
}

label {
	display:inline-block;
}

